<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head th:replace = "fragments::header-student">
    <meta charset="UTF-8">
    <title>Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <p>Hello student!</p>
    <p>These are the courses that you have applied in.</p>
    <a th:href = "@{/student/home}">Student</a>
    <a th:href = "@{/student/home}">Student</a>
    <a th:href = "@{admin}">Admin</a>

    <table>
        <tr align="left">
            <th>Enrolled Courses</th>
        </tr>

        <tr align="left">
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Credits</th>
        </tr>
        <tr th:each="enrols:${enrolls}">
            <td th:text="${enrols.getCourse().getId()}"></td>
            <td th:text="${enrols.getCourse().getCourseName()}"></td>
            <td th:text="${enrols.getCourse().getCredits()}"></td>
            <td>
                <form th:action ="@{/student/enrolled/delete/{id}(id=${enrols.getId()})}" method="post">
                    <input type="submit" value ="Cancel Enrolment">
                </form>
            </td>
        </tr>
        <tr><br> </tr>
        <tr> </tr>
        <tr align="left">
            <th>Completed Courses</th>
        </tr>
<!--        <tr align="left">-->
<!--            <th>Course Id</th>-->
<!--            <th>Course Name</th>-->
<!--            <th>Credits</th>-->
<!--        </tr>-->
        <tr th:each="complete:${completed}">
            <td th:text="${complete.getCourse().getId()}"></td>
            <td th:text="${complete.getCourse().getCourseName()}"></td>
            <td th:text="${complete.getCourse().getCredits()}"></td>
        </tr>
    </table>
<!--    <br>-->
<!--    <br>-->
<!--    <table>-->
<!--        <tr align="left">-->
<!--            <th>Completed Courses</th>-->
<!--        </tr>-->
<!--        <tr align="left">-->
<!--            <th>Course Id</th>-->
<!--            <th>Course Name</th>-->
<!--            <th>Credits</th>-->
<!--        </tr>-->
<!--        <tr th:each="complete:${completed}">-->
<!--            <td th:text="${complete.getCourse().getId()}"></td>-->
<!--            <td th:text="${complete.getCourse().getCourseName()}"></td>-->
<!--            <td th:text="${complete.getCourse().getCredits()}"></td>-->
<!--        </tr>-->
<!--    </table>-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
<div th:replace = "fragments::footer"></div>
</html>