<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
    <p>Hello student!</p>
    <p> Courses that you can enroll in you have searched etc</p>
    <a th:href = "@{/student/home}">Student</a>
    <a th:href = "@{lecturer}">Lecturer</a>
    <a th:href = "@{admin}">Admin</a>

    <table>
        <tr th:each="courses:${courses}">
            <td th:text="${courses.getCourseName()}"></td>
            <td th:text="${courses.getCourseDes()}"></td>
        </tr>


    </table>
</body>
</html>