<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
    <p>Hello student!</p>
    <a th:href = "@{enrolled}">Courses Enrolled</a>
    <a th:href = "@{enrollCourses}">Enroll</a>
    <a th:href = "@{grades}">Grades</a>
    <a th:href = "@{admin}">Admin</a>


    <table>
        <tr th:each="student:${students}">
            <td th:text="${student.firstName}"></td>
        </tr>

    </table>


</body>
</html>