<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments::header-admin('studentPage')">
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <title>Admin - Create Student</title>
</head>

<style>
.table1 {
  font-size: 18px;
  font-family: NeuzeitGrotesk;
}

td{
padding-bottom: 12px;
padding-top: 6px;
}

.enrolment {
padding-bottom: 30px;
padding-top: 5px;
}

.class{
width: 350px;
}
</style>

<body>
<div class = "container-fluid">
<div class = "row">
<div class ="col-6">
<div style = "padding:100px 0px 120px 180px">
<img src="/images/create1.png" style="height:100%;">
</div>
</div>
<div class ="col-6">
<div style = "padding: 180px 0px 0px 30px">
<h3>Create new Student</h3>
<br>
<div>
    <p class="alert alert-danger " th:if="${error} != null" th:text="${error}"></p>
</div>
<form action="#" method="post" th:action="@{/admin/student/create}" th:object="${student}">
    <table>
        <tr>
            <td><label for="first-name">First Name</label></td>
            <td><input class="class" id="first-name" type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{firstName}"
                th:if="${#fields.hasErrors('firstName')}"></td>
        </tr>
        <tr>
            <td><label for="last-name"></label>Last Name</td>
            <td><input class="class" id="last-name" type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{lastName}"
                th:if="${#fields.hasErrors('lastName')}"></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input class="class" id="email" type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{email}"
                th:if="${#fields.hasErrors('email')}"></td>
        </tr>
        <tr>
            <td><label for="phone">Phone</label></td>
            <td><input class="class" id="phone" type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{phone}"
                th:if="${#fields.hasErrors('phone')}"></td>
        </tr>
        <tr>
            <td><label for="address">Address</label></td>
            <td><input class="class" id="address" type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{address}"
                th:if="${#fields.hasErrors('address')}"></td>
        </tr>
        <tr>
            <td><label for="dob"></label>Date of birth</td>
            <td><input class="class" id="dob" type="date" th:field="*{dob}"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{dob}"
                th:if="${#fields.hasErrors('dob')}"></td>
        </tr>
        <tr>
            <td class="enrolment"><label for="enrolment-date"></label>Enrolment date</td>
            <td class="enrolment"><input class="class" id="enrolment-date" type="date" th:field="*{enrolmentDate}"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{enrolmentDate}"
                th:if="${#fields.hasErrors('enrolmentDate')}"></td>
        </tr>
        <tr>
        	<td width="40%"></td>
            <td align="right"><input class="btn btn-primary" type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</div>
</div>
</div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
<div th:replace = "fragments::footer"></div>
</html>