<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">

    <title>Admin - Create Course</title>
</head>

<style>
.table1 {
  font-size: 18px;
  font-family: NeuzeitGrotesk;
}

td{
padding-bottom: 12px;
padding-top: 6px;
}

.lecturer {
padding-bottom: 30px;
padding-top: 5px;
}

.class{
width: 350px;
}

.test {
width: 100%
}

.test-1{
width: 50%;
float:left;
padding-top:60px;
}

.test-2{
width: 50%;
float:left;
padding-top:130px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   height: 50px;
   border-top: 1px solid grey;
}
</style>

<body>
<div th:replace = "fragments::header-admin('coursePage')"></div>
<!-- div class ="container-fluid" -->
<div class = "test">
<div class ="test-1">
<div>
<img src="/images/course1234455.jpg" style="width:87%;">
</div>
</div>
<div class ="test-2"> 
<div>
<h3>Create new course</h3>
<br>
<form action="#" method="post" th:action="@{/admin/course/create}" th:object="${course}">
    <table class = "table1">
        <tr>
            <td><label for="course-name">Course Name</label></td>
            <td><input class="class" id="course-name" th:field="*{courseName}" type="text"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{courseName}"
                th:if="${#fields.hasErrors('courseName')}"></td>
        </tr>
        <tr>
            <td><label for="course-desc">Course Description</label></td>
            <td><textarea class="class" id="course-desc" th:field="*{courseDes}"></textarea></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{courseDes}"
                th:if="${#fields.hasErrors('courseDes')}"></td>
        </tr>
        <tr>
            <td><label for="credits">Credits</label></td>
            <td><input class="class" id="credits" th:field="*{credits}" type="number"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{credits}"
                th:if="${#fields.hasErrors('credits')}"></td>
        </tr>
        <tr>
            <td><label for="duration">Duration</label></td>
            <td><input class="class" id="duration" th:field="*{duration}" type="number"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{duration}"
                th:if="${#fields.hasErrors('duration')}"></td>
        </tr>
        <tr>
            <td><label for="max-cap">Max Capacity</label></td>
            <td><input class="class" id="max-cap" th:field="*{maxCap}" type="number"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{maxCap}"
                th:if="${#fields.hasErrors('maxCap')}"></td>
        </tr>
        <tr>
            <td><label for="start-date">Start Date</label></td>
            <td><input class="class" id="start-date" th:field="*{startDate}" type="date"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{startDate}"
                th:if="${#fields.hasErrors('startDate')}"></td>
        </tr>
        <tr>
            <td><label for="enroll-by">Enroll By</label></td>
            <td><input class="class" id="enroll-by" th:field="*{enrollBy}" type="date"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{enrollBy}"
                th:if="${#fields.hasErrors('enrollBy')}"></td>
        </tr>
        <tr>
            <td><label for="exam-date">Exam Date</label></td>
            <td><input class="class" id="exam-date" th:field="*{examDate}" type="date"/></td>
        </tr>
        <tr>
            <td class="alert alert-danger" colspan="2" th:errors="*{examDate}"
                th:if="${#fields.hasErrors('examDate')}"></td>
        </tr>
        <tr>
            <td class ="lecturer"><label for="lecturer">Lecturer</label></td>
            <td class ="lecturer">
                <select class="class" id="lecturer" name="lecturerId">
                    <option th:each="lecturer: ${lecturerList}" th:text="${lecturer.getFullName()}"
                            th:value="${lecturer.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
        	<td width="40%"></td>
            <td align = "right"><input class="btn btn-primary" type="submit" value="Create"/></td>
        </tr>
    </table>
</form>
</div>
</div>
</div>
<!-- /div -->
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<div th:replace = "fragments::footer"></div>
</html>