<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <title>Admin - Create Course</title>
</head>
<body>
<h3>Create new course</h3>
<form action="#" th:action="@{/admin/course/create}" th:object="${course}" method="post">
    <table>
        <tr>
            <td><label for="course-name">Course Name</label></td>
            <td><input type="text" id="course-name" th:field="*{courseName}" /></td>
        </tr>
        <tr>
            <td colspan="2" class="alert alert-danger" th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></td>
        </tr>
        <tr>
            <td><label for="course-desc">Course Description</label></td>
            <td><textarea id="course-desc" th:field="*{courseDes}"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" class="alert alert-danger" th:if="${#fields.hasErrors('courseDes')}" th:errors="*{courseDes}"></td>
        </tr>
        <tr>
            <td><label for="credits">Credits</label></td>
            <td><input type="number" id="credits" th:field="*{credits}" /></td>
        </tr>
        <tr>
            <td colspan="2" class="alert alert-danger" th:if="${#fields.hasErrors('credits')}" th:errors="*{credits}"></td>
        </tr>
        <tr>
            <td><label for="duration">Duration</label></td>
            <td><input type="number" id="duration" th:field="*{duration}" /></td>
        </tr>
        <tr>
            <td colspan="2" class="alert alert-danger" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></td>
        </tr>
        <tr>
            <td><label for="max-cap">Max Capacity</label></td>
            <td><input type="number" id="max-cap" th:field="*{maxCap}" /></td>
        </tr>
        <tr>
            <td colspan="2" class="alert alert-danger" th:if="${#fields.hasErrors('maxCap')}" th:errors="*{maxCap}"></td>
        </tr>
        <tr>
            <td><label for="start-date">Start Date</label></td>
            <td><input type="date" id="start-date" th:field="*{startDate}" /></td>
        </tr>
        <tr>
            <td colspan="2" class="alert alert-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></td>
        </tr>
        <tr>
            <td><label for="enroll-by">Enroll By</label></td>
            <td><input type="date" id="enroll-by" th:field="*{enrollBy}" /></td>
        </tr>
        <tr>
            <td colspan="2" class="alert alert-danger" th:if="${#fields.hasErrors('enrollBy')}" th:errors="*{enrollBy}"></td>
        </tr>
        <tr>
            <td><label for="exam-date">Exam Date</label></td>
            <td><input type="date" id="exam-date" th:field="*{examDate}" /></td>
        </tr>
        <tr>
            <td colspan="2" class="alert alert-danger" th:if="${#fields.hasErrors('examDate')}" th:errors="*{examDate}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create" /></td>
        </tr>
    </table>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>