<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments::header-lecturer">
<meta charset="ISO-8859-1">
<title>Enrolment form</title>
</head>
<body>
<h1>Enrolment form</h1>
	<form name="myForm" action="#" th:object="${enrolment}" th:action="@{/lecturer/save}"
		method="post" onsubmit="return validateform()">
		<fieldset>
			Enrolment ID<input type="number" th:field="*{Id}" th:readonly=true>
		</fieldset>		
		<fieldset>
			Grade <input name="grade" type="text" th:field="*{grade}">
		</fieldset>
		<fieldset>
			Date Registered<input type="date" th:field="*{registeredDate}" th:readonly=true>
		</fieldset>
		<fieldset>
			Enrollment Status<input type="text" th:field="*{enrolmentStatus}" th:readonly=true>
		</fieldset>
				<fieldset>
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		</fieldset>
		<fieldset>
			<input type="submit" value="Save"/>
			&nbsp; &nbsp; 	
			<input type="reset" value="Reset"/>
		</fieldset>

	</form>
<script type="text/javascript" th:src="@{/js/validateform.js}"></script>
</body>
<div th:replace = "fragments::footer"></div>
</html>