<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head th:replace = "fragments::header-home">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div style="text-align: center"><img src="/images/best-school-management-system-horz-new.jpg"></div>
<div style="text-align: center"><img src="/images/education-news.png"></div>
<div style="text-align: center"><img src="/images/news-2.png"></div>
<div th:replace = "fragments::footer"></div>
</body>
</html>