<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments::header-lecturer">
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<br>
<br>
    <h3 style="text-align: center">Hello Lecturer <span th:text="${name}"></span>! What do you want to do today?</h3>
    <br>
    <div style="text-align: center">
    <img src="/images/lecturer123.png" style="width:60%;">
    </div>
    <br>
    <div style="text-align: center">
    <img src="/images/dashboard123.png" style="width:80%;">
    </div>
    <br>
    <br>
</body>
<div th:replace = "fragments::footer"></div>
</html>