<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments::header-lecturer">
<meta charset="ISO-8859-1">
<title>Student performance</title>
</head>

<style>
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   height: 50px;
   border-top: 1px solid grey;
}
</style>

<body>
<body>
<div style = "padding: 30px 50px 0px 50px; min-height: 520px;">
<h3 style = "text-align: left;" th:if="${not #lists.isEmpty(performance)}">View Student Performance- <span th:text="${performance[0].firstname} +' '+ ${performance[0].lastname} "></span></h3>
<br>
<table class="table table-hover" th:if="${not #lists.isEmpty(performance)}" >
<thead>
		<tr class="table-active">
			<th>Course Name</th>
			<th>Grade</th>
			<th>Credits</th>
			<th>Status</th>
		</tr>
		<tr th:each="EnrolDataByStudent:${(performance)}" >
			<td th:text=${EnrolDataByStudent.coursename}>Id</td>
			<td th:text="${EnrolDataByStudent.grade}" class="points"> Grade</td>
			<td th:text="${EnrolDataByStudent.credits}" class="credit"> Credits</td>
			<td th:text="${EnrolDataByStudent.status}"> Status</td>
		</tr>
</thead>
</table>
<div style = "text-align:right">
<script type="text/javascript" th:src="@{/js/showgpa.js}"></script>
<button class="btn btn-success" th:onclick="showgpa()">Calculate CGPA</button>
<p style = "font-weight:bold" id="gpa"></p>
</div>
</div>
<div style="text-align: center; bottom:0px"><img src="/images/enrolment222.png" style="width:40%;"></div>
</body>
<div th:replace = "fragments::footer"></div>
</html>