<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments::header-lecturer">
<meta charset="ISO-8859-1">
<title>Select a course to see enrolment</title>
</head>
<body>
<div style = "padding: 30px 800px 0px 50px; min-height: 520px;">
<h3 style = "text-align: left;" th:if="${not #lists.isEmpty(courses1)}">View course enrolment - Select a course</h3>
<br>
<table class="table table-hover" th:if="${not #lists.isEmpty(courses1)}" >
	<thead>
		<tr class="table-active">
			<th>Id</th>
			<th>Course Name</th>
			<th>Select</th>	
		</tr>
		<tr th:each="CourseDataByLecturerData:${courses1}" >
			<td th:text=${CourseDataByLecturerData.id}>Id</td>
			<td th:text="${CourseDataByLecturerData.coursename}"> Name</td>
			<td ><a class="btn btn-primary" role="button" aria-pressed="true" th:href="@{/lecturer/enrolmentview/}+${CourseDataByLecturerData.id}">Select</a></td>
		</tr>
	</thead>
</table>
</div>
<div style="text-align: right"><img src="/images/enrolment222.png" style="width:40%;"></div>
</body>
<div th:replace = "fragments::footer"></div>
</html>