<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>My courses</title>
</head>
<body>
<h1 th:if="${not #lists.isEmpty(courses)}">View courses taught</h1>
	<table th:if="${not #lists.isEmpty(courses)}" >
		<tr >
			<th>Id</th>
			<th>Course Name</th>
			<th>Class Size</th>
			<th>Current Enrolment</th>

			
		</tr>
		<tr th:each="CourseDataByLecturerData:${courses}" >
			<td th:text=${CourseDataByLecturerData.id}>Id</td>
			<td th:text="${CourseDataByLecturerData.coursename}"> Name</td>
			<td th:text=${CourseDataByLecturerData.maxCap}>Id</td>
			<td th:text="${CourseDataByLecturerData.count}"> Name</td>
		</tr>
	</table>
<a href = "http://localhost:8080/lecturer/home">Back to home</a>
</body>
</html>