<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments::header-lecturer">
<meta charset="ISO-8859-1">
<title>My courses</title>
</head>

<body>
<div style = "padding: 30px 800px 0px 50px; min-height: 520px;">
<h3 style = "text-align: left;" th:if="${not #lists.isEmpty(courses)}">View courses taught</h3>
<br>
	<table class="table table-hover" th:if="${not #lists.isEmpty(courses)}" >
	<thead>
		<tr class="table-active">
			<th>Id</th>
			<th>Course Name</th>
			<th>Class Size</th>
			<th>Current Enrolment</th>
		</tr>
		<tr th:each="CourseDataByLecturerData:${courses}" >
			<td th:text=${CourseDataByLecturerData.id}>Id</td>
			<td th:text="${CourseDataByLecturerData.coursename}"> Name</td>
			<td th:text=${CourseDataByLecturerData.maxCap}>Id</td>
			<td th:text="${CourseDataByLecturerData.count}"> Name</td>
		</tr>
	</thead>
	</table>
</div>
<div style="text-align: right"><img src="/images/enrolment222.png" style="width:40%;"></div>
</body>
<div th:replace = "fragments::footer"></div>
</html>