<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments::header-lecturer">
<meta charset="ISO-8859-1">
<title>View course enrolment</title>
</head>
<body>
<div style = "padding: 30px 800px 0px 50px; min-height: 520px;">
<h3 style = "text-align: left;" th:if="${not #lists.isEmpty(enrolments)}">Edit grades- Select student</h3>
<br>
<table class="table table-hover" th:if="${not #lists.isEmpty(enrolments)}" >
	<thead>
		<tr class="table-active">
			<th>Course name</th>
			<th>Student name</th>
			<th>Grade</th>
			<th>Edit grade</th>
		</tr>
		<tr th:each="EnrolDataByCourse:${enrolments}" >
			<td th:text=${EnrolDataByCourse.coursename}>Id</td>
			<td th:text="${EnrolDataByCourse.firstname}+' '+${EnrolDataByCourse.lastname}"> Name</td>
			<td th:text=${EnrolDataByCourse.grade}>Grade</td>
			<td ><a class="btn btn-primary" role="button" aria-pressed="true" th:href="@{/lecturer/edit/}+${EnrolDataByCourse.eid}">Edit</a></td>
		</tr>
	</thead>
</table>
</div>
<div style="text-align: right"><img src="/images/enrolment222.png" style="width:40%;"></div>
</body>
<div th:replace = "fragments::footer"></div>
</html>